/*  copyright 2014 Alice Rühl */

* {
    margin: 0;
    padding: 0;
} 

body {
    color: #3b3b3b;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
}

#home, #about, #projects, #contact {
    padding: 50px;
}

nav {
    padding-left: 80px;
    display: inline-block;
}

nav ul {
    list-style-type:none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    padding-right: 50px;
    float: left;
}

.wrapper {
    min-height: 500px;
    height: auto;
    height: 100%;
    margin: 0 auto -1em;
    background: url("img/bg-map.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

h1{
    padding-top: 1em;
    padding-bottom: 2em
}
h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}
h3 {
    padding-bottom: 0.5em;
}

.eduentry {
    padding-top: 1em;
    padding-bottom: 2em;
}

.poiimg{
    vertical-align: text-bottom;
    opacity: 0.64;
}

.mapsource, .push {
    position: relative;
    height: 1em;
    float: right;
}

.projentry {
    margin: 10px;
    padding: 10px;
    height: 300px;
    float: left;
    border: 1px #cbcbcb outset;
}
.projimg {
    vertical-align: baseline;
}

.home {
    text-align: right;
}
.clear {
    clear: both;
}

footer {
    padding: 30px;
}

/*  text styles */

a {
    color: #3b3b3b;
    text-decoration:none;
    border-bottom: 1px dotted #3b3b3b;
}
a:active {
    border-bottom: none;
}

.current {
    text-decoration:none;
    border-bottom: none;
}

.subtext {
    font-size: smaller;
}

.halo {
    background-color: white;
}
