/*  copyright 2014 Alice Rühl */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

header, footer, nav, body {
    margin: 0 auto;
    max-width: 1600px;
    color: #3b3b3b;
    background: white;
    font-family: 'Josefin Sans', sans-serif;
}

#home{
    padding: 40px;
}

#about, #projects, #contact, #content {
    padding: 40px;
    min-height: 750px;
    overflow: auto;
}

header {
    background-color: white;
    line-height: 44px;
    border: 0px #878787 outset;
    -webkit-box-shadow: 2px 8px 10px 0px rgba(210, 210, 210, 0.5);
    -moz-box-shadow:    2px 8px 10px 0px rgba(210, 210, 210, 0.5);
    box-shadow:         2px 8px 10px 0px rgba(210, 210, 210, 0.5);
}

nav {
    position: relative;
    width: 100%;
    background: white;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content:         flex-end;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    margin-right: 20px;
    width: 140px;
    line-height: 44px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #5ce4de;
}

.wrapper {
    display: -webkit-flex;
    display: flex;
}

#map{
    -webkit-flex: 8;
            flex: 8;
    min-height: 750px;
    height: inherit;
}

.aside{
    -webkit-flex: 3;
            flex: 3;
    height: auto;
    padding-left: 40px;
}

.eduentry {
    padding-top: 1em;
    padding-bottom: 2em;
}

.poiimg{
    vertical-align: text-bottom;
    opacity: 0.64;
}

.projentry {
    margin: 5px;
    padding: 20px;
    display: inline-block;
    border: 0px #878787 outset;
    -webkit-box-shadow: 2px 8px 10px 0px rgba(210, 210, 210, 0.5);
    -moz-box-shadow:    2px 8px 10px 0px rgba(210, 210, 210, 0.5);
    box-shadow:         2px 8px 10px 0px rgba(210, 210, 210, 0.5);
}

.projimg {
    vertical-align: baseline;
}

.project{
    position: relative;
    text-align: center;
    margin: 30px;
}

.brochure{
    width:600px;
    height:620px;
}
.croquis{
    width: 800px;
}

.contacts {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items:         center;
    -webkit-justify-content: space-around;
    justify-content:         space-around;
}

.contentry {
    padding: 20px;
}

.contentry a{
    border-bottom: none;
}

.homelink {
    text-align: right;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    background-color: white;
    width: 100%;
}

/*  text styles */

h2 {
    padding-top: 1em;
}

h3{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

p{
    padding-top: 0.5em;
}


a {
    color: #3b3b3b;
    text-decoration:none;
}
a:active {
    border-bottom: none;
}

.current {
    text-decoration:none;
    border-bottom: none;
}

.subtext {
    font-size: smaller;
}

.halo {
    background-color: white;
}
